# Generated Protocol Buffer files
*.pb.go
*.pb.gw.go
*_pb2.py
*_pb2_grpc.py

# Go specific
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Protocol Buffer compiler
/protoc/
/protoc-gen-go
/protoc-gen-go-grpc

# Build output
/dist/
/build/

# Environment variables
.env.local

# Log files
*.log

# Cache directories
.cache/

package-lock.json
frontend/package-lock.json

# certificates
certs*

# other
node_modules
